* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background-image: linear-gradient(rgb(112, 112, 117), rgb(164, 164, 168)), url(https://cdn.discordapp.com/attachments/836224054201155626/985469533181579294/0A7DA0C4-BF97-4192-B2C3-F5AF21CC6758.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    display: flex;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    float: left;
    color: rgba(0, 0, 0, 0.781);
    transition: 0.5s;
}

.logo a img{
    margin: auto;
    width: 40px;
}

.menu{
    width: 400px;
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 60px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #A4A4A8;
    z-index: 1;
    border-bottom: 1px solid black;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
    transition: 0.5s;
}

nav ul li a:hover{
    color: #FFFFFF;
    font-size: 13px;
    padding: 0px 19px 0px 19px;
    z-index:2;
}

section {
    padding-top: 25px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}

img{
    width: 50%;    
    margin-top: 20px;
}

h2{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

.coloum2 .descrips{
    font-family: emoji;
    position: relative;
    line-height: 25px;
    padding: 20px 20px 20px 20px ;
}

.coloum2 img{
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 16px #FFFFFF;
}

a.dark-blue{
    background: #111111;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.dark-blue:hover{
    background: #ffffff;
    color: #000000;
    padding: 15px 20px 15px 20px;
}

a.alt-web{
    background: #ffffff;
    border-radius: 20px;
    padding: 15px 20px 15px 20px;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

a.alt-web:hover{
    opacity: 0.5;
    z-index: 2;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.coloum2{
    display: flex;
    text-align: left;
}

.info{
    margin: 30px;

}

.info .content{
    display: flex;
}

.info .content img{
    width: 200px;
    margin: auto;
}

.info .content .text{
    line-height: 15px;
    text-align: left;    
}

.info h3{
    padding: 10px;
    text-align: center;
}

.info .content-race{
    display: flex;
}

.info .content-race img{
    width: 200px;
    margin: 0 auto;
}

.info .content-race a{
    background: #111111;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.info .content-race a:hover{
    background: #ffffff;
    color: #000000;
    padding: 15px 20px 15px 20px;
}

footer{
    background: #131313;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.foosec{
    width: 20%;
    margin: 0 auto;
    font-size: 15px;
    color: black;
}

.foosec h3{
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
    color: #000000;
    width: 100%;
    line-height: 50px;

}

.foosec ul li a {
    color: black;
}

#copyright{
    background: #111111;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

#copyright p{
    font-size: 10px;
    text-align: left;
}

@media screen and (max-width:991.98px) {
    .wrapper{
        font-size: 80%;
        width: 90%;
    }

    .foosec{
        width: 25%;
        font-size: 80%;
    }
    
    .foosec ul li{
        text-align: center;
    }

    .foosec h3{
        font-size: 110%;
    }

    .foosec ul li{
        list-style-type: none;
    }
}

@media screen and (max-width:525px) {
    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu{
        width: 100%;
        margin: 0;
    }

    nav .menu ul{
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li{
        display: inline-block;
        float: none;
    }
    
    .info .content img{
        display: none;
    }

    .info .content-race img{
        display: block;
        width: 90%;
    }
}